services:
  postgres:
    image: postgres:16
    container_name: alojaaqp-db
    environment:
      POSTGRES_DB: alojaaqp_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: alojaaqp-admin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@alojaaqp.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    restart: unless-stopped

volumes:
  postgres_data: